section {
            margin: 20px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .deposit, .transaction {
            margin-bottom: 10px;
        }
        .invest {
            font-size: 24px;
            font-weight: bold;
            color: #fff;
        }
        .buttonss {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .trans-1 {
            font-size: 18px;
            font-weight: bold;
            color: #fff;
            text-align: center;
        }
        .send {
            color: #007bff;
            font-weight: bold;
            margin-top: 5px;
            text-align: center;
        }
        .white-file {
            background-color: #1D1F38;
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-top: 5px;
            position: relative;
        }
        .copy-button {
            position: absolute;
            top: 18px;
            right: 5px;
            padding: 10px 10px;
            font-size: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .copy-button i {
            margin-right: 5px;
            font-size: 20px;
        }
        .example {
            width: calc(100% - 50px);
            padding: 5px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow-wrap: break-word;
        }
        .qr-code {
            margin-top: 4px;
            text-align: center;
        }
        .upload-1 {
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }
        input[type="file"] {
            margin-top: 10px;
        }
        .click button {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .buyers {
            text-align: center;
            margin-top: 20px;
        }
        .buyers button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #ffc107;
            color: #333;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .logo {
            text-align: center;
            margin-bottom: 20px;
        }
        .logo img {
            max-width: 100%;
            height: auto;
        }
        #fileButton {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        #fileButton:hover {
            background-color: #0056b3;
        }
        #fileButton:active {
            background-color: #003d7f;
        }
        #fileButton::after {
            content: ", Click here!";
        }
        #uploader {
            -webkit-appearance: none;
            appearance: none;
            width: 50%;
            margin-bottom: 10px;
        }
          .warning {
            color: red;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
        }